.recipes-background {
  padding-top: 100px;
}

form {
  .form-group {
    width: 100%;

    input {
      margin: 10px 0;
    }

    .btn {
      background-color: #FF4A83;
      border: 1px solid #FF4A83;
      width: 25%;

      &:hover {
        background-color: white;
        color: #FF4A83;
        border: 1px solid #FF4A83;
      }
    }
  }
}

.container {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

.cards {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    width: 25%;
    margin: 10px;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 3px 2px;
    position: relative;

    img {
      height: 200px;
    }

    button {
      position: absolute;
      bottom: 10px;
    }

    .card-body {
      .h5 {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    .card {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 576px) {
  form {
    .form-group {
      width: 100%;

      input {
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }

  .cards {
    justify-content: center;

    .card {
      width: 70%;
    }
  }
}
